
boards/uaeficopiedtovfr-0.03/board/misc/uaeficopiedtovfr-0.03-BOM.csv
boards/uaeficopiedtovfr-0.03/board/misc/uaeficopiedtovfr-0.03-bottom.png
boards/uaeficopiedtovfr-0.03/board/misc/uaeficopiedtovfr-0.03-components.png
boards/uaeficopiedtovfr-0.03/board/misc/uaeficopiedtovfr-0.03-outline.png
boards/uaeficopiedtovfr-0.03/board/misc/uaeficopiedtovfr-0.03-top.png
boards/uaeficopiedtovfr-0.03/board/uaeficopiedtovfr-0.03-BOM-JLC.csv
boards/uaeficopiedtovfr-0.03/board/uaeficopiedtovfr-0.03-CPL.csv
boards/uaeficopiedtovfr-0.03/board/uaeficopiedtovfr-0.03-gerber.zip
boards/uaeficopiedtovfr-0.03/board/uaeficopiedtovfr-0.03-ibom.html
boards/uaeficopiedtovfr-0.03/board/uaeficopiedtovfr-0.03-schematic.pdf
boards/uaeficopiedtovfr-0.03/board/uaeficopiedtovfr-0.03.png
boards/uaeficopiedtovfr-0.03/board/warnings.log
boards/uaeficopiedtovfr-0.03/frame/vfr-CPL.csv
boards/uaeficopiedtovfr-0.03/frame/vfr-schematic.pdf
boards/uaeficopiedtovfr-0.03/frame/vfr-vrml.wrl
boards/uaeficopiedtovfr-0.03/frame/vfr.DRL
boards/uaeficopiedtovfr-0.03/frame/vfr.G1
boards/uaeficopiedtovfr-0.03/frame/vfr.G2
boards/uaeficopiedtovfr-0.03/frame/vfr.GBL
boards/uaeficopiedtovfr-0.03/frame/vfr.GBO
boards/uaeficopiedtovfr-0.03/frame/vfr.GBP
boards/uaeficopiedtovfr-0.03/frame/vfr.GBS
boards/uaeficopiedtovfr-0.03/frame/vfr.GKO
boards/uaeficopiedtovfr-0.03/frame/vfr.GM15
boards/uaeficopiedtovfr-0.03/frame/vfr.GTL
boards/uaeficopiedtovfr-0.03/frame/vfr.GTO
boards/uaeficopiedtovfr-0.03/frame/vfr.GTP
boards/uaeficopiedtovfr-0.03/frame/vfr.GTS
uaeficopiedtovfr-backups/uaeficopiedtovfr-2024-01-05_121339.zip
